/* src/components/LandingPage.css */

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #00759c;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Landing Page Styling */
.landing-page {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Allow landing-page to expand beyond 100vh */
}

/* Background Canvas */
.background-canvas {
  position: absolute; /* Changed from fixed to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* Main Content Container */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 1rem 20px 1rem; /* Reduced padding */
  z-index: 5;
  position: relative;
  min-height: 100vh; /* Ensures content spans at least full viewport height */
  text-align: center;
}

/* Welcome Text */
.main-content h1 {
  font-size: 3rem; /* Reduced font size */
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
}

.text-section {
  max-width: 600px;
  margin-bottom: 1.5rem;
}

.text-section section {
  margin-bottom: 1rem;
}

.text-section h2 {
  font-size: 1.8rem; /* Reduced font size */
  font-weight: 300;
  color: white;
  margin-bottom: 0.4rem;
}

.text-section p {
  font-size: 1.1rem; /* Reduced font size */
  line-height: 1.6;
  color: white;
}

/* Start Button */
.start-button {
  background-color: #7ed348;
  color: #00759c;
  padding: 0.8rem 1.5rem; /* Adjusted padding */
  font-size: 1.1rem; /* Reduced font size */
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-bottom: 20px; /* Reduced space below the button */
}

.start-button:hover {
  background-color: #6cbc40;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .main-content h1 {
    font-size: 2.5rem;
  }

  .text-section h2 {
    font-size: 1.5rem;
  }

  .text-section p {
    font-size: 1rem;
  }

  .start-button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px; /* Further reduced margin on smaller screens */
  }

  .main-content {
    padding-top: 40px; /* Adjusted top padding on smaller screens */
    padding-bottom: 10px; /* Adjusted bottom padding on small screens */
  }
}
